body {
  margin: 0px;
	font-family: monospace;
  font-size: 0.6rem;
	height: 100vh;
}

a:visited {
  color: blue;
}

th {
	text-align: left;

}

tr {
	height: 1rem;
}

td::before {
	content: ":";
	margin-right: 1rem;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen 
and (max-device-width : 1024px)
{
    body {                           
        height: 768px;                         
        font-size: 2rem;
    }                       
}
